.analytics-section {
    background-image: url('../assets/analytics.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 400px;
}

.analytics-section .noumber-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.numbers {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    width: 500;
    font-size: 55px;
    line-height: 110%;
    margin: 0;
    text-align: center;
    color: white;
}

.number-description {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25.2px;
    text-align: center;
    color: white;
}