.feedback-section {
    min-height: 642px;
    background-color: #F7F7F7;
}

.feedback-section .feedback-tittle {
    padding-top: 150px;
}

.feedback-section .buttons {
    text-align: right;
    max-width: 1205px;
    padding-top: 50px;
}

.feedback-section .buttons button {
    padding: 0;
    border-radius: 50%;
    border: none;
}

.feedback-section .buttons button img {
    padding: 0;
}

.previous-btn {
    transform: rotate(180deg);
    margin-right: 10px;
    pointer-events: none;
    opacity: 0.5;
}

.feedback-section .carousel {
    padding: 20px 0 20px 0 !important;
    display: flex;
    scroll-behavior: smooth;
    overflow-x: auto;
    max-width: 1240px;
}

.feedback-section .carousel::-webkit-scrollbar {
    display: none;
}

.feedback-section .carousel .card {
    box-shadow: 2px 2px 10px rgba(10, 132, 255, 0.14);
    width: 275px;
    height: 175px;
    flex: none;
    margin-right: 36px;
}

.feedback-section .carousel .card .open-mark-div img {
    padding: 9px 0 0 8px;
}

.feedback-section .carousel .card .close-mark-div img {
    padding: 0px 17px 0 8px;
}

.feedback-section .carousel .card .circle {
    background-color: #C4C4C4;
    background-position: center;
    width: 42px;
    height: 42px;
    box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.09);
    margin: 5px 0px 16px 8px;
    border-radius: 50%;
    border: 2px solid #FFFFFF;
}

.feedback-section .carousel .card .person {
    margin-left: 15px;
    margin-top: 5px;
}

.card-text {
    font-family: 'Inter' sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    padding: 0 8px 0 8px;
    margin-bottom: 0;
    margin-top: 12.5px;
}

.card-name {
    padding: 0;
    margin: 0 0 5px 0;
    font-family: 'Inter' sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
}

.card-profession {
    font-family: 'Inter' sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    opacity: 0.5;
}


#tanner {
    background-image: url(../assets/tanner.png);
    background-size: cover;
}

#kayti {
    background-image: url(../assets/kayti.png);
    background-size: cover;
}

#mike {
    background-image: url(../assets/mike.png);
    background-size: cover;
}

#iris {
    background-image: url(../assets/iris.png);
    background-size: cover;
}

.enable {
    pointer-events: auto;
    opacity: 1;
}

.disable {
    pointer-events: none;
    opacity: 0.5;
}


@media only screen and (max-width: 1024px) {
    .buttons {
        display: none;
    }


}